name: dapr-stack
services:
  placement:
    hostname: placement.docker.local
    container_name: placement
    image: daprio/dapr:latest
    command: ["./placement", "-port", "50005"]
    ports:
      - "50005:50005"
      - "58080:8080"
      - "59090:9090"
    restart: unless-stopped
    networks:
      dapr-network:
        aliases:
          - placement.docker.local

  scheduler:
    hostname: scheduler.docker.local
    container_name: scheduler
    image: daprio/dapr:latest
    command: ["./scheduler", "--port", "50007", "--etcd-data-dir", "/data"]
    ports:
      - "50007:50007"
      - "52379:2379"
      - "58081:8081"
      - "59091:9091"
    restart: unless-stopped
    networks:
      dapr-network:
        aliases:
          - scheduler.docker.local
    volumes:
      - vol_scheduler:/data
    user: "0:0"

networks:
  dapr-network:
    driver: bridge

volumes:
  vol_scheduler:
